
  .forecast-1, .forecast-2, .forecast-3, .forecast-4, .forecast-5, .forecast-6, .forecast-7 {
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 30px;
    width: 100px;
    height: 140px;
    text-align: center;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    color: white;

  }


  .forecast-1:hover:before, .forecast-2:hover:before, .forecast-3:hover:before, .forecast-4:hover:before, .forecast-5:hover:before, .forecast-6:hover:before, .forecast-7:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #56bafd;
    filter: blur(3px);
  }
  
  .forecast-1:hover, .forecast-2:hover, .forecast-3:hover, .forecast-4:hover, .forecast-5:hover, .forecast-6:hover, .forecast-7:hover {
    color: #2b8c97;
    box-shadow: 0 0 15px white;
    text-shadow: 0 0 15px #56bafd;
  }
  
  .forecast-day {
      margin-top: 10px;
      font-size: 20px;
  }

  .forecast-temperature {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 15px;

  }


