.Weather {
    font-family: Roboto;
    width: 750px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 30px;
    background: linear-gradient(
      to right bottom,
      rgba(171, 172, 184, 0.911),
      rgba(2, 128, 128, 0.842)
    );

  }

  footer {
    text-align: center;
  }